//styles
$defaultTextSize : 50px;
$interText : 60px;
// Fonts
@font-face {
  font-family: yekan;
  //src: url('./fonts/web_yekan.woff');
  src: url('./fonts/byekan.ttf');
  src: url('./fonts/byekan.otf');

}
body{
  font-family: yekan;
  //font-weight: 400;
  //font-size: $defaultTextSize;
  vertical-align: middle;
}

h3{
  //font-weight: 400;
  font-family: yekan;
  font-size: $defaultTextSize;
}
h2{
  font-family: yekan;
  font-size: $defaultTextSize*1.2;
}
h4{
  font-family: yekan;
  font-size: $defaultTextSize*0.8;
}
ul li{
  display: inline;
}

// Vuemultiselect
@import "vue-multiselect.min.css";

.button.hollow,
.button.hollow:hover ,
.button.hollow:focus {
  background-color: white;
  margin-bottom: 0px !important;
}
.button {
  margin-bottom: 0px !important;
}
.pointer{
  cursor: pointer;
}
.intertext{
  font-size: $interText;
  margin-top: -11px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.intertexta5{
  font-size: $interText*0.8;
  margin-top: -1px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.brbottom{
  border-bottom: rgb(0, 0, 0) solid 1px;
}
.ml20{
  margin-left: 20px;
}
.mr20{
  margin-right: 20px;
}
.part{
  padding-bottom: 50px;
  border-bottom: rgb(0, 0, 0) dashed 7px;
}

.disDragable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.auto-center {
  display: block;
  margin: 0px auto;
}

[type='text'] {
  border-radius: 17px;
}
.mini-input  {
  background-color: transparent !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0px !important;
  border-bottom: #00b8ff 1px solid !important;
  box-shadow: none !important;
  text-align: center !important;
  direction: ltr !important;
  padding: 1px 1px 1px 1px !important;
  height: 1.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.mini-input:focus{
  border-bottom: #00b8ff 2px solid !important;
}
.fix-input {
  font-weight: 500;
  font-size: 1rem;
}
//.fix-input:focus {
//  border-bottom: #00b8ff 1px solid !important;
//}