<template>
    <div class="a4">
        <slot></slot>
    </div>
</template>

<script>
      export default {
            name: "A4",
            mounted() {
                  console.log()
            }
      }
</script>
<style lang="scss">
    .a4{
        background: #d6d8db;
        width: 2480px;
        height: 3508px;
        margin: 0px auto;
    }
</style>