<template>
    <div class="part">
            <h3 class="row large-18 padding-top-3 ">بسمه تعالی</h3>
            <div class="row large-18 margin-top-1">
                <h3 class="">از :</h3>
                <h3 class=" mr20" style="width: 71%;">اداره بهداشت و درمان منطقه پدافند هوائی امام رضا (ع)</h3>
                <h3 class=" ml20"> شماره : </h3>
                <h3 class=" ml20 intertext" >9999</h3>
                <h3 class=" ">- 9417/1</h3>
            </div>
            <div class="row large-18 margin-top-1">
                <h3 class="">به :</h3>
                <h3 class=" mr20" style="width: 71%;">ریاست محترم بیمارستان 550 شمس الشموس</h3>
                <h3 class=" ml20"> تاریخ : </h3>
                <h3 class=" text-center " style="width: 15%;">1397/04/19 <span>22:22</span></h3>
            </div>
            <div class="row large-18 ">
                <h3 > نام و نام خانوادگی : </h3>
                <h3 class="mr20 intertext" style="width: 25%;">mahdi</h3>

                <h3> فرزند : </h3>
                <h3 class="mr20 intertext" style="width: 24.5%;">غلامحسین</h3>

                <h3> ش . پ : </h3>
                <h3 class="mr20 intertext text-center" style="width: 15%;">99999999</h3>
            </div>
            <h3 class="row large-18 margin-top-2">
                سلام علیکم , با صلوات جهت ظهور آقا
            </h3>
            <div class="row large-18 ">
                <p>
                    احتراماً یاد شده فوق به علت
                    <span class=" brbottom intertext" >HHHHHHHHHHH</span>
                    برای ویزیت متخصص مربوطه معرفی میگردد .
                </p>
            </div>
            <div class="row large-18 margin-top-3">

                <h3>پزشک اعزام کننده : </h3>
                <h3 class="mr20 intertext" style="width: 35%;">فردوس مکان</h3>

                <p>رئیس اداره بهداشت و درمان منطقه پدافند امام رضا (ع)</p>
            </div>
        </div>
</template>

<script>
      export default {
            name: "EzamLashkar",
            mounted() {
                  console.log()
            }
      }
</script>

<style scoped>

</style>