<template>
    <div>
        <div class="row  align-center padding-top-3">
            <img id="logo" src="/images/padafandLogo.png" alt="">
        </div>
        <div class="row large-18">
            <h4>
                بسمه تعالی
            </h4>
        </div>
        <div class="row large-18 margin-top-3">
            <div class="column large-13">
                <div class="row">
                    <h4 class="">از :</h4>
                    <h4 class=" mr20" >مجتمع درمانی منطقه پدافند هوائی امام رضا (ع)</h4>
                </div>
                <div class="row margin-top-2">
                    <h4>به :</h4>
                    <h4 class=" mr20" >ریاست محترم بیمارستان 550 شمس الشموس</h4>
                </div>
            </div>
            <div class="column">
                <div class="row align-center-middle">
                    <h4 class=" ml20"> شماره : </h4>
                    <h4 class=" ml20 intertext" >9999</h4>
                    <span class=" ">- 9421</span>
                </div>
                <div class="row align-center margin-top-1">
                    <h4 class=" ml20 "> تاریخ : </h4>
                    <span class=" text-center " style="margin-top: -10px;" >1397/04/19</span>
                </div>
            </div>

        </div>
        <div class="row large-18" style="margin-top: 250px;">
            <h4 > موضوع : </h4>
            <h4 class="mr20 intertexta5" style="width: 30%;">mahdi</h4>

            <h4> فرزند : </h4>
            <h4 class="mr20 intertexta5" style="width: 20%;">غلامحسین</h4>

            <h4> ش . پ : </h4>
            <h4 class="mr20 intertexta5 text-center" style="width: 15%;">99999999</h4>
        </div>
        <div class="row align-center" style="margin-top: 200px;">
            <h3>(( با صلوات جهت ظهور آقا ))</h3>
        </div>
        <div class="row large-18 margin-top-3">
            <h3 style="line-height: 2;">بدینوسیله به آگاهی میرساند
            <span>وظیفه</span>
                یاد شده فوق از کارکنان این یگان میباشد . این گواهی برای شناسایی بستری و ترخیص در آن بیمارستان صادر گردیده و ارزش قانونی دیگری ندارد .
            </h3>
        </div>
        <div class="row large-18 align-right text-center" style="margin-top: 150px;">
            <h4>
                سرپرست مجتمع درمانی منطقه پدافند هوایی شمال شرق امام رضا (ع)
            </h4>
        </div>
        <div class="row large-13 align-right text-center">
            <h3>
                سرهنگ پزشک رضا کاظمی زنجانی
            </h3>
        </div>
    </div>
</template>

<script>
      export default {
            name: "EzamBimarestan"
      }
</script>

<style scoped>
#logo{
    width: 350px;
    height: 350px;
}
</style>