<template>
    <div class="part">
        <div class="row large-18 padding-top-3 align-middle" style="border-bottom: #0a0a0a solid 5px;">
            <div class="column large-15 ">
                <h2>اعزام به بیمارستان بعثت تهران</h2>
            </div>
            <div class="column">
                <div class="row">
                    <h3 class=" ml20"> شماره : </h3>
                    <h3 class=" ml20 intertext" >9999</h3>
                    <h3 class=" ">- 9422</h3>
                </div>
                <div class="row">
                    <h3 class=" ml20"> تاریخ : </h3>
                    <h3 class=" ml20 intertext" >1397/04/19</h3>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
      export default {
            name: "EzamTehran"
      }
</script>

<style scoped>

</style>