<template>
    <div class="part">
        <h3 class="row large-18 padding-top-3 ">بسمه تعالی</h3>
        <div class="row large-18 margin-top-1">
            <h3 class="">از :</h3>
            <h3 class=" mr20" style="width: 71%;">اداره بهداشت و درمان منطقه پدافند هوائی امام رضا (ع)</h3>
            <h3 class=" ml20"> شماره : </h3>
            <h3 class=" ml20 intertext" style="margin-top: -11px;">9999</h3>
            <h3 class=" ">- 9417/5</h3>
        </div>
        <div class="row large-18 margin-top-1">
            <h3 class="">به :</h3>
            <h3 class=" mr20" style="width: 71%;">معاونت محترم نیروی انسانی منطقه  ( امور کلی )</h3>
            <h3 class=" ml20"> تاریخ : </h3>
            <h3 class=" text-center " style="width: 15%;">1397/04/19 <span>22:22</span></h3>
        </div>
        <div class="row large-18 ">
            <h3 > نام و نام خانوادگی : </h3>
            <h3 class="mr20 intertext" style="width: 25%;">mahdi</h3>

            <h3> فرزند : </h3>
            <h3 class="mr20 intertext" style="width: 24.5%;">غلامحسین</h3>

            <h3> ش . پ : </h3>
            <h3 class="mr20 intertext text-center" style="width: 15%;">999999999</h3>

        </div>
        <h3 class="row large-18">
            سلام علیکم , با صلوات جهت ظهور آقا
        </h3>
        <div class="row large-18 ">
            <p>
                احتراماً یاد شده فوق که در تاریخ
                <span class=" brbottom intertext" >1397/04/19</span>
                به بیمارستان بعثت نهاجا اعزام گردیده بود در مورخه
                <span class=" brbottom intertext" >1397/04/19</span>
                با اخذ
                <span class=" brbottom intertext" >4</span>
روز
                <span class="margin-left-1 brbottom intertext margin-right-1" >استراحت پزشکی در منزل</span>
                ترخیص گردید و از وسیله شخصی برای ایاب و ذهاب استفاده نموده است .استراحت
            </p>
        </div>
        <div class="row large-18">
            <div class="row large-20 margin-top-2">
                <div class="column">
                    <div class="row">
                        <h3>گیرنده :‌</h3>
                        <h3 class="mr20 intertext text-center">ریاست محترم نیروی انسانی </h3>
                        <span class="mr20 intertext text-center">منطقه </span>
                    </div>

                </div>
                <div class="column text-center" >
                    <p>رئیس اداره بهداشت و درمان
                        منطقه پدافند امام رضا (ع)</p>
                </div>
            </div>
            <div class="row large-20">
                <h3>توضیح :‌</h3>
                <span class="mr20 intertext text-center">ندارد . </span>
            </div>
        </div>




    </div>

</template>

<script>
      export default {
            name: "MorajeatTehran"
      }
</script>

<style scoped>

</style>