<template>
    <div>
        <!--<transition-->
                <!--name="fade"-->
                <!--mode="out-in"-->
        <!--&gt;-->
        <router-view  > </router-view>
        <!--</transition>-->
    </div>
</template>

<script>
      export default {
            name: "app"
      }
</script>

<style scoped>
    .fade-enter-active,
    .fade-leave-active {
        transition-duration: 0.3s;
        transition-property: opacity;
        transition-timing-function: ease;
    }

    .fade-enter,
    .fade-leave-active {
        opacity: 0
    }
</style>