<template>
    <div id="app">
        <div id="page-wrap">

            <first-form></first-form>

            <div class="background">
                <slick
                        ref="slick"
                        :options="slickOptions">
                    <img src="/images/backgrounds/background.jpg" class="backgrounds">
                    <img src="/images/backgrounds/background2.jpg" class="backgrounds">
                    <img src="/images/backgrounds/background3.jpg" class="backgrounds">
                    <img src="/images/backgrounds/background4.jpg" class="backgrounds">
                    <img src="/images/backgrounds/background5.jpg" class="backgrounds">
                </slick>
            </div>
        </div>

        <div dir="ltr">
            <PushRotate >

                <a class="menu-items"  href="#">
                    <span>گزارش اعزام به لشکر</span>
                </a>
                <a class="menu-items"  href="#" target="_blank">
                    <span>نمایش نامه</span>
                </a>
                <a class="menu-items exit"  href="#" target="_blank">
                    <span>خروج</span>
                </a>

            </PushRotate>
        </div>

    </div>

</template>

<script>
    import Slick from 'vue-slick';
    import { PushRotate } from 'vue-burger-menu';

    export default {
    name: "Home",
        components: { Slick , PushRotate },
        data() {
                return {
                    slickOptions: {
                            rtl: true,
                            touchMove: false,
                            slidesToShow: 1,
                            infinite: true,
                            dots: false,
                            arrows: false,
                            autoplay: true,
                            autoplaySpeed: 5000,
                            fade: true,
                            cssEase: 'linear'
                    },
                };
        }
    }
</script>

<style lang="scss">
    @import "../../../node_modules/slick-carousel/slick/slick.css";

    .background{
        position: relative;
        top: 0px;
        left: 0px;
    }

    .backgrounds{
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bm-burger-bars{
        background-color: #c7d1ff;
        border-radius: 5px;
    }
    .bm-menu{
        background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    }
    .bm-cross {
        background: #ffffff;
    }
    .bm-item-list{
        direction: rtl;
        margin: 0px 10% 0px 0px;
    }
    .bm-item-list>*>span{
        margin-left: 0px !important;
    }
    .exit{
        position: relative;
        top: 60vh;
    }
    .menu-items{
        text-align: center;
        transition: all 0.5s ease;
        display: block;
        &:hover {
            color: rgba(255, 255, 255, 0.9);
            transform: scale(1);
            &:before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
        &:before {
            content: "";
            position: absolute;
            width: 80%;
            height: 2px;
            bottom: 0;
            left: 10%;
            background: white;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }

    }
</style>