<template>
    <div class="centerData">
        <div class="form-data">
            <div class="row">
                <div class="column">
                    <!--LOGO-->
                    <img id="armyPic" class="auto-center disDragable"
                        :src="organLogo" alt="">
                </div>
            </div>
            <div class="row align-justify large-19 " style="margin-top: -5rem; ">
                <div class="column large-6" style="margin: 1rem -1rem 0 0;">
                    <!--hospital type-->
                    <multiselect v-model="hospital" deselect-label="" selectLabel="" class="hospitalOptions"
                                track-by="name" label="name" placeholder="بیمارستان"
                                :options="hospitalsOptions" :searchable="false" :allow-empty="false">

                        <template slot="hospitalsOptions" slot-scope="{ hospitalsOptions }">
                            <strong>{{ hospitalsOptions.name }}</strong>
                        </template>
                    </multiselect>

                </div>
                <div class="column large-6">
                    <div class="date-number">
                        <div class="row align-center-middle">

                            <div class="column large-8 padding-left-0">
                                <p class="margin-bottom-0">شماره نامه :</p>
                            </div>
                            <div class="column large-12 padding-right-0">
                                <div class="row">
                                    <div class="column padding-left-0">
                                        <!--letter number-->
                                        <input class="mini-input" id="unclassval" type="text" 
                                            v-validate="'required|numeric|min:1|max:6'" name="numberv"
                                            v-model="number">

                                    </div>
                                    <div class="column padding-right-0">

                                        <input class="mini-input fix-input" type="text"
                                            v-model="letterNumber" disabled >

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row align-right">
                            <div class="column large-15 padding-right-0">
                                <!--letter date-->
                                <custom-date-picker v-model="date"
                                                    :auto-submit="true" >
                                </custom-date-picker>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-center-middle large-18 margin-top-1" style="height: 55px;">
                <div class="column">
                    <div class="row align-center-middle" >

                        <div v-if="this.personelOrSoldier == 'personel'" 
                                class="column large-9 padding-left-0">
                            <p >شماره پرسنلی :</p>
                        </div>
                        <div v-else class="column large-6 padding-left-0">
                            <p>کد ملی :</p>
                        </div>
                        
                        <div class="column large-11 padding-right-0">
                            <!--personal ID-->
                            <input class="mini-input" type="text"
                                :value="this.personCode" disabled >
                        </div>
                    </div>

                    

                </div>
                <div class="column" >
                    <!--organ-->
                    <transition name="fade-in">
                        <multiselect v-model="organ" deselect-label="" selectLabel=""
                                    track-by="name" label="name" placeholder="ارگان"
                                    :options="organOptions" :searchable="false" :allow-empty="false"
                                    v-show="hospital.situation == 'lashkar'">
                            <template slot="organOptions" slot-scope="{ organOptions }">
                                <strong>{{ organOptions.name }}</strong>
                            </template>
                        </multiselect>
                    </transition>

                </div>
                <div class="column" >

                    <transition name="fade-in">
                        <!--department-->
                        <input  type="text" :placeholder="departmentPlaceHoder"
                                v-validate="'required|min:3|max:40'" name="departmentv"
                                v-model="department" @keyup.enter="printLetter()"
                                v-show="hospital.situation == 'lashkar'" >
                    </transition>

                </div>
            </div>

            <div class="row align-center-middle large-18 margin-top-1" style="height: 55px;">

                <transition name="fade-in" mode="out-in">
                <span class="rankImg" v-show="showRank">
                    <img :src="rankImg" alt="" >
                </span>
                </transition>

                <div class="column " :class="{'large-6' : showRank}">
                    <!--rank-->
                    <multiselect  v-if="this.personelOrSoldier == 'personel'"
                                v-model="rank" deselect-label="" selectLabel=""
                                track-by="name" label="name" placeholder="درجه"
                                :options="rankOptionsPersonel" :searchable="false" :allow-empty="false">

                        <template slot="rankOptionsPersonel" slot-scope="{ rankOptionsPersonel }">
                            <strong>{{ rankOptionsPersonel.name }}</strong>
                        </template>
                    </multiselect>

                    <multiselect v-else
                                v-model="rank" deselect-label="" selectLabel=""
                                track-by="name" label="name" placeholder="درجه"
                                :options="rankOptionsSoldier" :searchable="false" :allow-empty="false">

                        <template slot="rankOptionsSoldier" slot-scope="{ rankOptionsSoldier }">
                            <strong>{{ rankOptionsSoldier.name }}</strong>
                        </template>
                    </multiselect>

                </div>
                <div class="column">
                    <!--name-->
                    <input class="borderRound  " type="text" placeholder="نام و نام خانوادگی"
                        v-validate="'required|min:3|max:40'" name="namev" 
                        v-model="name"
                        @keyup.enter="printLetter()">

                </div>
                <div class="column">
                    <!--father name-->
                    <input  type="text" placeholder="نام پدر"
                            v-validate="'required|min:3|max:40'" name="fathernamev"
                            v-model="fathername" @keyup.enter="printLetter()">

                </div>
            </div>
            <div class="row align-center-middle large-18 margin-top-1" style="height: 55px;"
                v-if="hospital.situation == 'lashkar' || hospital.situation == 'other'">
                <div class="column">
                    <!--reason-->
                    <input  type="text" placeholder="علت اعزام"
                            v-validate="'required|min:3|max:40'" name="reasonv"
                            v-show="hospital.situation == 'lashkar'" v-model="reason"
                            @keyup.enter="printLetter()">
                    <!--hospital name-->
                    <input class="borderRound " type="text" placeholder="نام بیمارستان"
                        v-validate="'required|min:3|max:40'" name="hospitalnamev"
                        v-show="hospital.situation == 'other'"
                        @keyup.enter="printLetter()">
                </div>
                <div class="column">

                    <transition name="fade-in">
                        <!--doctor-->
                        <input  type="text" placeholder="پزشک اعزام کننده"
                                v-validate="'required|min:3|max:40'" name="doctorv"
                                v-show="hospital.situation == 'lashkar'" v-model="doctor"
                                @keyup.enter="printLetter()">
                    </transition>

                </div>
            </div>
            <div class="row align-center-middle large-18 align-center margin-bottom-1">
                <div class="column large-3">
                    <span class="time-alert"  v-text="timeText" v-show="showTime"></span>
                    <!--print-->
                    <img class="pointer disDragable auto-center " @click="printLetter()"
                        width="50" height="50" src="/images/printButton.png" alt="">

                </div>
            </div>
        </div>

        <div class="army-background"></div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import {mapActions} from 'vuex'
    import { mapFields } from 'vee-validate'

    export default {
            data: () => ({
                date: null,
                reason: null,
                doctor: null,
                showRank: false,
                hospital: { name : 'بیمارستان لشکر' , situation :'lashkar' , type: ''}
            }),
            methods:{
                ...mapActions([
                        'getData', 'updateNumber' , 'updateDepartment' , 'updateName',
                        'updateRank', 'updateOrgan' , 'updateFathername'
                ]),
                printLetter(){
                        if (this.hospital.situation == 'lashkar'){
                            if (this.lashkarValidate()){

                                    alert('mahdi')

                            } else alert('فیلد ها را چک کنید ...')
                        }
                        if (this.hospital.situation == 'emamHosein' ||
                            this.hospital.situation == 'samen') {
                            if (this.fixedFieldval()){

                                    alert('mahdi')

                            } else alert('فیلد ها را چک کنید ...')
                        }
                        if (this.hospital.situation == 'other'){
                            if (this.otherHospitalValidate()){

                                    alert('mahdi')

                            } else alert('فیلد ها را چک کنید ...')
                        }
                },
                fixedFieldval(){
                        if (
                            this.namev.valid &&
                            this.fathernamev.valid &&
                            this.date &&
                            this.rank &&
                            this.numberv.valid
                        ){
                            return true
                        } else return false
                },
                organvalid(){
                        if (this.organ){
                            if (this.organ.id == 4){
                                    if(this.typedepartmentv.valid){
                                        return true
                                    }
                            }
                            return true
                        } else return false
                },
                lashkarValidate(){
                        if (
                            this.fixedFieldval() &&
                            this.reasonv.valid &&
                            this.doctorv.valid &&
                            this.organvalid()
                        ){
                            return true
                        } else return false
                },
                otherHospitalValidate(){
                        if (
                            this.fixedFieldval() &&
                            this.hospitalnamev.valid
                        ) {
                            return true
                        }else return false
                }
            },
            computed: {
                ...mapFields([ 'departmentv' , 'typedepartmentv' , 'namev' , 'reasonv',
                        'doctorv' , 'numberv' , 'fathernamev' , 'hospitalnamev',
                        '']),
                ...mapGetters([
                        'rankOptionsSoldier',
                        'rankOptionsPersonel',
                        'organOptions',
                        'hospitalsOptions',
                ]),
                // bind Data to store
                name: {
                    get(){
                        return this.$store.getters.getName
                    },
                    set(val){
                        return this.updateName(val)
                    }
                },
                organ: {
                    get(){
                        return this.$store.getters.getOrgan
                    },
                    set(val){
                        return this.updateOrgan(val)
                    }
                },
                rank: {
                    get(){
                        return this.$store.getters.getRank
                    },
                    set(val){
                        return this.updateRank(val)
                    }
                },
                number: {
                    get(){
                        return this.$store.getters.getNumber
                    },
                    set(val){
                        return this.updateNumber(val)
                    }
                },
                department: {
                    get(){
                        return this.$store.getters.getDepartment
                    },
                    set(val){
                        return this.updateDepartment(val)
                    }
                },
                fathername: {
                    get(){
                        return this.$store.getters.getFathername
                    },
                    set(val){
                        return this.updateFathername(val)
                    }
                },
                //END  bind Data to store
                personelOrSoldier (){
                    return this.$route.params.personelOrSoldier
                },
                personCode(){
                    return this.$route.params.personCode
                },
                formModel(){
                    return this.$route.params.formModel
                },
                letterNumber(){
                        if ( this.personelOrSoldier == 'soldier'){
                            return '9417/1-'
                        }else return  '9417/2-'
                },
                rankImg(){
                        if (this.rank == null){
                            this.showRank = false
                        }else {
                            if (this.rank.id == 6){
                                    this.showRank = false
                                    return ''
                            }
                            let thisImg = this.rank.id
                            let imgUrl = '/images/ranks/' + thisImg + '.png'
                            this.showRank = true
                            return imgUrl
                        }
                },
                organLogo(){
                        if( this.organ == null || this.organ.id == 4 ){
                            return "/images/army icon.png"
                        }
                        if (this.organ.id == 1){
                            return "/images/airforce.png"
                        }
                        if (this.organ.id == 2 || this.organ.id == 3){
                            return "/images/padafand.png"
                        }
                },
                timeText(){
                        let time = moment().format('HH:mm')
                        return time
                },
                showTime(){
                        let nowTime = moment().format('HH')
                        return nowTime > 11
                },
                departmentPlaceHoder(){
                    if(this.organ){
                        if (this.organ.id == 4){
                                return 'ارگان مورد نظر را تایپ کنید'
                        }
                        return 'قسمت'
                    }else {
                        return 'قسمت'
                    }
                },
                sendForPrint (){
                    return {
                    name: this.name,
                    fathername: this.fathername,
                    rank: this.rank,
                    Pcode : this.personCode,
                    organ: this.organ,
                    department: this.department,
                    PorS : this.personelOrSoldier,
                    FormModel : this.formModel,
                    date : this.date,
                    hospital : this.hospital,
                    reason : this.reason,
                    doctor: this.doctor
                    }
                }
            },
            created(){
                moment.locale('en');
                let now = moment().format('YYYY/MM/DD')
                this.date = now;
            },
            mounted(){
                this.getData({
                    PorS : this.personelOrSoldier,
                    FormModel : this.formModel,
                    Pcode : this.personCode
                    })
            }
    }
</script>

<style lang="scss">
    .centerData{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
    .army-background{
        position: absolute;
        z-index: -1;
        background-image: url("/images/bg.png");
        filter: blur(4px) sepia(0.4);
        -webkit-filter: blur(4px) sepia(0.4);
        background-position: center;
        width: 100vw;
        height: 100vh;

    }
    .form-data{
        width: 50rem;
        /*border: red solid 1px;*/
        border-radius: 1.5rem;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.85) 0%,
                rgba(252, 245, 215, 0.85) 100%);
        box-shadow: 0px 9px 20px 9px rgba(0,0,0,0.75);
    }
    #armyPic{
        height: 170px;
        margin-top: -5rem;
    }
    .date-number{
        width: 210px;
    }
    .vpd-icon-btn{
        position: relative;
        top: -10px;
        left: 2rem;
        border-radius: 8px;
        padding: 0px 6px !important;
        svg{
            width: 30px !important;
            height: 30px !important;
        }
    }
    .rankImg{
        margin: -7rem -2rem 0 0 ;
        position: relative;
        height: 2rem;
        max-height: 50px;
        width: 45px;
        display: block;
    }
    .multiselect{
        margin-bottom: 13px;
    }
    .multiselect__tags{
        border-radius: 19px;
    }
    .vpd-content{
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }
    .time-alert{
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        color: red;
        position: relative;
        top: 2.4rem;
        left: 4rem;
        border: 1px solid red;
        padding: 5px;
        border-radius: 5px;
    }
    .hospitalOptions{
        font-size: 1.2em;
        font-weight: 600;
    }
    #unclassval{
        border-top:none  !important;
        border-left:none  !important;
        border-right:none  !important;
        border-bottom: #00b8ff 2px solid !important;
    }
</style>
