<template>
    <div class="first-form">
        <div class="row align-center-middle">

            <!-- SOLDIER PIC -->
            <div class="column large-8 transition"
                    :class="{'margin-left-2' : this.person == null}"
                    v-show="this.person == 'soldier' || this.person == null">
                <div class="row">
                    <img @click="addPerson('soldier')"
                            class="portraitPic disDragable pointer" 
                            src="/images/pro/soilder2.jpg" alt="">
                </div>
            </div>

            <!-- PERSONEL PIC -->
            <div class="column large-8 transition"
                    :class="{'margin-right-2' : this.person == null}" 
                    v-show="this.person == 'personel' || this.person == null">
                <div class="row">
                    <img @click="addPerson('personel')"
                        class="portraitPic disDragable pointer" 
                        src="/images/pro/personel4.jpg" alt="">
                </div>
            </div>
        </div>

        <!-- PERSONAL CODE -->
        <transition name="slide-in">
        <div class="row align-center-middle margin-top-1" v-if="person == 'soldier'">
            <input class="personalID disDragable"
                        v-model="personalCode"
                        placeholder="کد ملی"
                        v-validate="'required|numeric|min:10|max:10'" 
                        data-vv-as="field" name="personalCodeval" type="text" autofocus>
        </div>
        <div class="row align-center-middle margin-top-1" v-if="person == 'personel'">
            <input class="personalID disDragable"
                        v-model="personalId"
                        placeholder="شماره پرسنلی"
                        v-validate="'required|numeric|min:8|max:8'" 
                        data-vv-as="field" name="personalIdval" type="text" autofocus>
        </div>
        </transition>

        <!-- FORM PICKER -->
        <transition name="slide-in">
        <div class="row align-center-middle margin-top-1"  v-show="personalCodeval.valid || personalIdval.valid">
            <ul class="no-bullet ">
                <li><button class="button hollow"  
                        @click="esterahatPezeshkitab()"> 
                        <b>استراحت پزشکی</b>
                    </button></li>
                <li><button class="button hollow"
                    @click="ezamBeBimarestantab()">
                    <b>اعزام به بیمارستان</b> 
                    </button></li>
                <li><button class="button hollow"
                    @click="ezamBeTehrantab()">
                    <b>اعزام به تهران</b> 
                    </button></li>
                <li><button class="button hollow" 
                    @click="morajeatAzTehrantab()">
                    <b>مراجعت از تهران</b> 
                    </button></li>
            </ul>
        </div>
        </transition>

        <div class="row large-8 align-center-middle"  >
            <!-- CLEAR -->
            <transition name="slide-in">
                <div class="column large-9" v-show="person" >
                        <img @click="clear()"
                            class="disDragable pointer clearButton" src="/images/clear.svg"
                            width="50" height="50" alt="">
                </div>
            </transition>
        </div>


    </div>
</template>
<script>
import { mapFields } from 'vee-validate';

export default {
    data: () => ({
        person: null,
        personalCode: null,
        personalId: null,
        esterahatPezeshki: false,
        ezamBeBimarestan: false,
        ezamBeTehran: false,
        morajeatAzTehran: false,
    }),
    methods:{
        esterahatPezeshkitab(){
            window.open( this.address +'/esterahatPezeshki/' + this.personCode);
        },
        ezamBeBimarestantab(){
            this.$router.push(this.address +'/ezamBeBimarestan/' + this.personCode)
        },
        ezamBeTehrantab(){
            window.open( this.address +'/ezamBeTehran/' + this.personCode);
        },
        morajeatAzTehrantab(){
            window.open( this.address +'/morajeatAzTehran/' + this.personCode);
        },
        addPerson(person){
            this.person = person
        },
        clear(){
            this.person = null
            this.personalCode = null
            this.esterahatPezeshki = false
            this.ezamBeBimarestan = false
            this.ezamBeTehran = false
            this.morajeatAzTehran = false
            console.log('clear')
        }
    },
    computed: {
        ...mapFields([ 'personalCodeval' , 'personalIdval' ]),
        formPicked(){
            if (
                this.esterahatPezeshki == true ||
                this.ezamBeBimarestan == true ||
                this.ezamBeTehran == true ||
                this.morajeatAzTehran == true
            ) {
                return true
            } else {
                return false 
                }
        },
        personCode(){
            if (this.person == 'soldier') {
                return this.personalCode
            }else{
                return this.personalId
            }
        },
          address(){
              return 'printLetter/' + this.person
          }
    },
}
</script>
<style>
    .transition{
        transition: all 0.3s ease-in-out 0s;
    }

    .clearButton{
        margin-top: 16px;
    }
    .no-bullet {
        margin-bottom: 0px !important;
    }
    .personalID{
        width: 200px;
        border-radius: 17px;
        text-align: center;
        direction: ltr;
        font-size: 24px;
        border: 2px solid #2ba6cb;
        margin-bottom: 0px !important;
    }
        .personalID:focus{
        border: 2px solid #2ba6cb;
    }
    .portraitPic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /*border: bisque solid 1px;*/
    }
    .first-form{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 400px;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .valid {
    border: 2px solid green !important;
    }

    .invalid {
    border: 2px solid red !important;
    background-color: #ffcfcf !important;
    }
    .error{
        text-align: right;
        color: red;
        margin: -10px 0px 0px 0px;
    }
    .fade-in-enter{
        opacity: 0;
    }
    .fade-in-enter-active{
        transition: opacity 0.7s;
    }
    .fade-in-leave-active{
        transition: opacity 0.3s;
        opacity: 0;
    }
    .slide-in-enter{
        opacity: 0;
    }
    .slide-in-enter-active{
        animation: slide-in 0.7s ease-out forwards;
        transition: opacity 0.7s;
    }
    .slide-in-leave-active{
        animation: slide-out 0.3s ease-out forwards;
        transition: opacity 0.3s;
        opacity: 0;
    }
    @keyframes slide-in{
        from {
            transform: translateY(20px)
        }
        to {
            transform: translateY(0px)
        }
    }
    @keyframes slide-out{
        from {
            transform: translateY(0px)
        }
        to {
            transform: translateY(20px)
        }
    }

    .bm-cross {
        width: 5px !important;
        height: 20px !important;
        border-radius: 2px !important;
    }
</style>
